.header {
    display: flex;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.item {
    list-style: none;
    margin-right: 40px;
}

.link {
    text-decoration: none;
    color: #000;

    &:hover,
    &:focus {
        color: lighten(#000, 10%);
    }
}

.login {
    margin-left: auto;
}

.loginLink {    
    padding: 10px 20px;

    color: #fff;
    background-color: #91cc6e;
    border-radius: 5px;

    text-decoration: none;

    &:hover,
    &:focus {
        background-color: darken(#91cc6e, 10%);
        cursor: pointer;
    }
}