.header {
    display: flex;
    padding: 20px 0;
    
    @media (max-width: 720px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    @media (max-width: 720px) {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
}

.item {
    list-style: none;
    margin-right: 40px;

    @media (max-width: 720px) {
        padding: 10px 0;
        margin-right: 0;
        text-align: center;
        border-bottom: 1px solid #d4d4d4;
    }
}

.link {
    text-decoration: none;
    color: #000;

    &:hover,
    &:focus {
        color: lighten(#000, 40%);
    }
}

.login {
    margin-left: auto;

    @media (max-width: 720px) {
        margin: 0 auto;
    }
}

.loginLink {    
    padding: 10px 20px;

    color: #fff;
    background-color: #91cc6e;
    border-radius: 5px;

    text-decoration: none;

    &:hover,
    &:focus {
        background-color: darken(#91cc6e, 10%);
        cursor: pointer;
    }
}